html {
  font-family: sans-serif;
}

th,
td {
  border: 1px solid;
  margin: 0;
}

.error {
  background-color: lightcoral;
}

.pass {
  background-color: greenyellow;
}

.missing {
  background-color: lightgray;
}

.target-header {
  writing-mode: sideways-lr;
}

.build-info-a {
  color: black;
  text-decoration: none;
}

.build-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.target-name-col {
  white-space: nowrap;
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
