:root {
  color-scheme: light dark;
}

html {
  font-family: sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    margin: 20px;
  }
}

table {
  border-spacing: 0;
}

th,
td {
  padding: 2px 5px;
}

tr:not(:last-child) {
  th,
  td {
    border-bottom: 1px solid;
  }
}

.error {
  background-color: light-dark(lightcoral, darkred);
}

.pass {
  background-color: light-dark(greenyellow, darkgreen);
}

.missing {
  background-color: light-dark(lightgray, rgb(85, 85, 85));
}

.target-header {
  writing-mode: sideways-lr;
}

.build-indicator-big {
  padding: 10px;
  margin-top: 20px;
}

.build-cell {
  font-size: 2rem;
}

.build-info-a {
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1b191c;
    color: #e6dae9;
  }

  a {
    color: #e5a5c2;
  }
}
