<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build {{nightly}} {{target}}</title>
    <link rel="stylesheet" href="/index.css" />
    <script type="module" defer src="index.js"></script>
    <style>
      .build-indicator-big {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Build results for nightly-{{nightly}} target {{target}} {{mode}}</h1>
    <a href="/">Home</a>
    <div style="margin-top: 20px" class="{{status}} build-indicator-big">
      {{status}}
    </div>
    {% if let Some(rustflags) = rustflags %}
    <p>
      Using rustflags: <b><code>{{rustflags}}</code></b>
    </p>
    {% endif %} {% if let Some(build_date) = build_date %}
    <p>Build date: <span class="date">{{build_date}}</span></p>
    {% endif %} {% if let Some(build_duration_s) = build_duration_s %}
    <p>Build duration: <span class="number">{{build_duration_s}}</span>s</p>
    {% endif %} {% if let Some(does_it_build_version) = does_it_build_version %}
    <p>Builder does-it-build commit: <span>{{does_it_build_version}}</span></p>
    {% endif %}
    <pre>
{{stderr}}
    </pre>
    <p>
      <a href="/target?target={{target}}"
        >Build history for target {{target}}</a
      >
    </p>
    <p>
      <a href="/nightly?nightly={{nightly}}"
        >Build state for nightly {{nightly}}</a
      >
    </p>
    <footer class="footer">
      <a href="https://github.com/Noratrieb/does-it-build">
        does-it-build {{version}}
      </a>
    </footer>
  </body>
</html>
