<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Does it build?</title>
    <link rel="stylesheet" href="{{ revs::INDEX_CSS_NAME }}" />
    <script type="module" defer src="{{ revs::INDEX_JS_NAME }}"></script>
  </head>
  <body>
    <h1>Does it build?</h1>
    <p>
      This website builds the standard libary for every rustc target on every
      nightly to check whether it builds or not.
    </p>
    <p>
      There are currently
      <span class="number">{{build_count.total()}}</span> build results stored,
      with <span class="number">{{build_count.pass_count}}</span> passing and
      <span class="number">{{build_count.error_count}}</span> erroring.
    </p>

    <p>
      You can select a nightly or target from the list below and check its
      history.
    </p>

    <p>
      🔔 does-it-build supports sending notifications to target maintainers via
      GitHub issues. You can add yourself with
      <a href="{{notification_pr_url}}">a PR</a>. 🔔
    </p>

    <h1>Nightlies</h1>
    <ul>
      {% for nightly in nightlies.iter().take(5) %}
      <li>
        <a href="nightly?nightly={{ nightly }}">{{ nightly }}</a>
      </li>
      {% endfor %}
    </ul>
    <p>
      To view a list of all nightlies, check
      <a href="#all-nightlies">the list at the end</a>.
    </p>

    <h2>Targets</h2>

    <ul>
      {% for target in targets %}
      <li>
        <a href="target?target={{ target }}">{{ target }}</a>
      </li>
      {% endfor %}
    </ul>

    <section id="all-nightlies">
      <h2>All Nightlies</h2>

      <ul>
        {% for nightly in nightlies %}
        <li>
          <a href="nightly?nightly={{ nightly }}">{{ nightly }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <footer class="footer">
      <a href="https://github.com/Noratrieb/does-it-build">
        does-it-build {{version}}
      </a>
    </footer>
  </body>
</html>
