<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{nightly}} build history</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Nightly build state for {{nightly}}</h1>
    <a href="/">Home</a>
    <p>
      The build is performed with <code>cargo build --release -Zbuild-std</code> for a library crate.

      This checks whether everything builds successfully (excluding binary linking, which often requires complex toolchains).
      For no-std targets, Cargo's build-std logic is used for figuring out whether to build std or not.
      On older targets (older than November 2024) this does not always work reliably, so some failed std builds there are simply no-std targets.
    </p>

    {% if let Some(std_broken) = std_broken %}
    <p>
      ⚠️ The std build is broken for this nightly, so no data is available ⚠️
    </p>

    <pre>
      {{std_broken}}
    </pre>
    {% endif %}

    <p>
      <dl>
        <dt>std failures</dt>
        <dd>{{std_failures}}</dd>
      </dl>
    </p>
    {% if showing_failures %}
    <p>
      <a href="/nightly?nightly={{nightly}}">show all</a>
    </p>
    {% else %}
    <p>
      <a href="/nightly?nightly={{nightly}}&failures=true">filter failures</a>
    </p>
    {% endif %}
    <table>
      <tr>
        <th>nightly</th>
        <th>std<br>build</th>
      </tr>
      {% for build in builds %}
      <tr>
        <td><a href="/target?target={{build.0}}">{{ build.0 }}</a></td>
        {% match build.2 %} {% when Some with (build) %}
        <td class="build-cell">
          <a class="build-info-a" href="{{ build.link() }}">
            <span> {{ build.status.to_emoji() }} </span>
          </a>
        </td>
        {% when None %}
        <td class="missing"></td>
        {% endmatch %}
      </tr>
      {% endfor %}
    </table>
    <footer class="footer">
      <a href="https://github.com/Noratrieb/does-it-build">
        does-it-build {{version}}
      </a>
    </footer>
  </body>
</html>
