<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{target}} build history</title>
    <link rel="stylesheet" href="/index.css" />
    <style>
      .build-indicator-big {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Target build history for {{target}}</h1>
    <a href="/">Home</a>
    <div style="margin-top: 20px" class="{{status}} build-indicator-big">
      {{status}}
    </div>
    <p>
      This contains the history of this target. Core is built with
      <code>cargo build --release -Zbuild-std=core</code>. This checks that
      codegen/linking of core works, but does not check whether std builds.
    </p>
    <p>
      The build is performed with
      <code>cargo build --release -Zbuild-std</code> for a library crate. This
      checks whether everything builds successfully (excluding binary linking,
      which often requires complex toolchains). For no-std targets, Cargo's
      build-std logic is used for figuring out whether to build std or not. On
      older targets (older than November 2024) this does not always work
      reliably, so some failed std builds there are simply no-std targets.
    </p>
    {% if showing_failures %}
    <p>
      <a href="/target?target={{target}}">show all</a>
    </p>
    {% else %}
    <p>
      <a href="/target?target={{target}}&failures=true">filter failures</a>
    </p>
    {% endif %}
    <table>
      <tr>
        <th>nightly</th>
        <th>std<br />build</th>
      </tr>
      {% for build in builds %}
      <tr>
        <td><a href="/nightly?nightly={{build.0}}">{{ build.0 }}</a></td>
        {% match build.2 %} {% when Some with (build) %}
        <td class="build-cell">
          <a class="build-info-a" href="{{ build.link() }}">
            <span> {{ build.status.to_emoji() }} </span>
          </a>
        </td>
        {% when None %}
        <td class="missing"></td>
        {% endmatch %}
      </tr>
      {% endfor %}
    </table>
    <footer class="footer">
      <a href="https://github.com/Noratrieb/does-it-build">
        does-it-build {{version}}
      </a>
    </footer>
  </body>
</html>
